@media (max-width: 768px){
  body { 
    background-color: var(--bg-color-mobile); 
    width: 95%; 
  }  
}
@media (min-width: 769px){
  body { 
    background-color: var(--bg-color); 
    width: 95%; 
  }  
}
